body {
    background-color: rgb(248, 248, 175);
}

h1 ,h2{
    text-align: center;
    border:2px;
    border-color: black;
    border-style: solid;
    background-color: lightyellow;
    font-family: 'Times New Roman' sans-serif , Verdana;
}

img {
    border:2px;
    border-style: solid;
    margin-left: 30%;
}

p{
    font-size: 18px;
}

strong, em {
    color: darkred;
    text-decoration: underline;
    text-decoration-line: solid;
    text-decoration-color: black;
}

em {
    color: darkblue;
}

ul, ol {
    border: 2px;
    border-style: dotted;
}

ol{
    border-style: solid;
}

